<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">

	<h2>Sobre mi</h2>

	<p>
		Ingeniero Mecatrónico, administrador de bases datos Oracle, capacitado para dar
		soluciones a problemas planteados tanto en sistemas mecánicos, electrónicos,
		eléctricos y software.
		Conocimientos en análisis de sistemas de potencia, mecánica de fluidos,
		termodinámica, sistemas electrónicos y de automatización, manejo de software: C#,
		C++, SolidWorks, SolidEdge, Proteus, Amire, Quest, Ansys, PicC. Diseño de
		páginas en HTML y CSS, en programación PHP- MySQL, Javascript (JQuery,
		AngularJS), Laravel y Drupal. Con conocimientos en Android Studio, Facebook adds,
		responsive design. Manejo de herramienta Photoshop.
	</p>
	
</article>