<!--menu de rutas para poder acceder visiblemente desde mi pagina, [routerLink] es el enlace al que puedo acceder desde mi url-->
<header>
	<ul>
	  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
	  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
	  <li id='logo'><a href="#">AA</a></li>
	  <li><a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear Proyectos</a></li>
	  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
	</ul>
</header>


<!-- con router-outlet puedo ya navegar entre las rutas configuradas en app.routing.js -->
<section id="content">
	<router-outlet></router-outlet>
</section>


<footer>
	Master JavaScript AlexanderAgudelo.com  &copy;
</footer>